* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    width: 100%;
    background-color: black;
    
    
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

.container{
    display: flex;
    justify-content: center;
    
    
    
    
}
.otro-container{
    
    width: 90%;
    height: 500px;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    
    
}
.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.titulo {
    
    
    padding-bottom: 0px;
    
    font-size: 50px;
    
    
    color: white;
}
.link {
    font-size: 25px;
    padding: 20px;
    text-decoration: none;
    color: white;
    
}